

body {
    font-family: Arial, sans-serif;
}

.containor {
    width: 300px;
    margin: 250px auto;
    text-align: center;
}
h1{
    font-size: 40px;
   box-shadow: 0  5px 12px grey;

    
}

button{
    padding: 18px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0  8px 12px grey;
    border-color: aliceblue;
    background-color: cadetblue;
}
button:hover{
    background-color: rgb(55, 130, 132);
}

