

body {
    font-family: Arial, sans-serif;
}

.containor {
    width: 300px;
    margin: 250px auto;
    text-align: center;
}
h1{
    font-size: 40px;
    border-bottom: 3px solid black; /* Border define karein */
    margin: 0 auto; /* Margin ko center karte hue fix karein */
    display: inline-block; /* Isko inline-block karne se width shrink hogi */
}

button{
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background-color: cadetblue;
}
button:hover{
    background-color: rgb(55, 130, 132);
}

